bitarray==2.8.1
click==8.1.7
contourpy==1.1.1
cycler==0.11.0
cysignals==1.11.2
Cython==3.0.2
dataclasses==0.6
exceptiongroup==1.1.3
fonttools==4.42.1
iniconfig==2.0.0
kiwisolver==1.4.5
matplotlib==3.8.0
netqasm==0.13.3
netsquid==1.1.7
netsquid-magic==12.2.0
netsquid-nv==8.0.0
netsquid-physlayer==4.3.0
netsquid-simulationtools==2.0.0
numpy==1.22.4
packaging==23.1
pandas==2.0.3
Pillow==10.0.1
pluggy==1.3.0
pydantic==1.10.12
pydynaa==0.3.6
pyparsing==3.1.1
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
pytest==7.4.2
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
qlink-interface==1.0.0
scipy==1.8.1
six==1.16.0
-e git+https://github.com/QuTech-Delft/squidasm.git@ffc8ff68329188d6c868252ee3364bcec1791316#egg=squidasm
tomli==2.0.1
typing_extensions==4.8.0
tzdata==2023.3
